.checkout-total {
  float: right;
  margin-right: 5%;
  height: 100%;
  display: flex;
  align-items: center;
}

.checkout-ptag {
  font-size: 2rem;
}

.checkout-ptag:hover, .checkout-total:hover {
  color: #FF0024;
}
