.za-item-container {
    border: 2px solid #FF0024;
    border-radius: 2px;
    /* margin-bottom: 30px; */
    margin: 0 2% 30px 2%;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    user-select: none;
}

.za-item-container:hover {
    z-index: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.za-content-container img {
    width: 350px;
    height: 350px;
}

.za-item-container button {
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.za-content-container {
    width: 350px;
    padding-top: 5px;
}

hr {
    width: 90%;
    height: 5px;
    background-color: #E00024;
    border-radius: 50%;
    border: 2px solid #669F21;
}

.za-item-textbox {
    height: 176px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.za-content-header {
    text-align: left;
    margin: 0;
    padding-left: 5px;
}

.price {
    text-align: right;
    margin: 0 5% 5px auto;
    font-size: 150%;
}

