.za-item-container {
    width: 300px;
    margin-bottom: 10px;

    font-size: 50%;
}

.za-item-container img {
    width: 225px;
    height: 150px;
}

.za-item-textbox {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.price {
    text-align: right;
}

.column-break {
    flex-basis: 100%;
    width: 0;
}

