.next-button {
  width: 20vw;
  height: 5vh;
  background-color: #ff0024;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  float: right;
  margin-right: 5%;
  min-width: 80px;
  margin-bottom: 20%;
}

.next-button:hover {
  background-color: #e00024;
  color: #ffff40;
  cursor: pointer;
}
