.next-button {
  width: 20vw;
  height: 5vh;
  background-color: #FF0024;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  float: right;
  margin-right: 5%;
  min-width: 80px;
}

.next-button:hover {
  background-color: #E00024;
  color: #FFFF40;
  cursor: pointer;
}
