.App-header {
  background-color: #669F21;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  border: 3px solid #CCD744;
}

.App-title {
  font-size: 2em;
  float: left;
}
